# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Data & Models (Too large for git)
data/
models/
tensorboard/

# IDE
.vscode/
.idea/

# Project Specific Results & Logs
*.zip

# Keep specific documentation images if needed, but generally exclude generated plots
!assets/
